<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <span class="mdl-layout-title">Basic Blog</span>
      <div class="mdl-layout-spacer"></div>
      <nav class="mdl-navigation mdl-layout--large-screen-only">
        <a class="mdl-navigation__link" href="/">Home</a>
        <a class="mdl-navigation__link" href="/about">About</a>
        <a class="mdl-navigation__link" href="/articles">Articles</a>
        <a class="mdl-navigation__link" href="/articles/new">Create</a>
      </nav>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">Basic Blog</span>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" href="/">Home</a>
      <a class="mdl-navigation__link" href="/about">About</a>
      <a class="mdl-navigation__link" href="/articles">Articles</a>
      <a class="mdl-navigation__link" href="/articles/new">Create</a>
    </nav>
  </div>
  <main class="mdl-layout__content">
    <div class="page-content">
      <h5>Edit an article</h5>
      <% if @article.errors.any?  %>
        <h4>The Following Errors prevented the article form being created</h4>
        <ul>
          <% @article.errors.full_messages.each do |msg| %>
            <li><%= msg  %></li>
          <% end %>
        </ul>
      <% end %>
      <%= form_for @article do |f| %>
        <p>
          <%= f.label :title %> 
          <%= f.text_field :title %> 
        </p>
        <p>
          <%= f.label :description %> 
          <%= f.text_area :description %> 
        </p>
        <p>
          <%= f.submit %> 
        </p>
      <% end %>
    </div>
  </main>
</div>

