<% if @user.errors.any?  %>
 <h4>The Following Errors prevented the article form being created</h4>
 <ul>
   <% @user.errors.full_messages.each do |msg| %>
     <li><%= msg %></li>
   <% end %>
 </ul>
<% end %>


<div class="row">
  <div class="col s6 offset-s3">
    <%= form_for @user do |f| %>
      <div class="input-field">
        <%= f.label :username, class: "" %>
        <%= f.text_field :username, class: "" %>
      </div>

      <div class="input-field">
        <%= f.label :email, class: "" %>
        <%= f.email_field :email, class: "" %>
      </div>

      <div class="input-field">
        <%= f.label :password, class: "" %>
        <%= f.password_field :password, class: "materialize-textarea" %>
      </div>
      <%= f.submit class: "waves-effect waves-light btn"%>
    <% end %>
  </div>
</div>
