<%= render 'partials/navbar' %>

<h4>Welcome to <%= @user.username %>'s page</h4>

<%= gravatar_for @user %>

<h5><%= @user.username %>'s articles</h5>

<%= render 'partials/articles', obj: @user.articles %>
